@import url("font.css")

body {
	margin: 0;
	font-family: "Nunito Sans", Arial;
	font-size: 1em;
}

button {
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

a, ul {
	text-decoration: none;
	list-style: none;
}

header,
footer {
    background: rgba(19, 19, 19, 1);
}

.click-svg {
	cursor: pointer;
}

.section__container {
	width: 100%;
    max-width: 1260px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
}

.header__box, .footer__box {
	margin: 0 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.header__nav, .footer__nav {
	margin: 22px 0px;
}

.header__logo, .header__phone, .footer__logo, .footer__phone {
	color: rgba(227, 184, 115, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
}

.header__phone, .footer__phone {
	text-decoration: none;
	text-decoration-line: underline;
}

.header__list, .footer__list {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

.header__item, .footer__item {
	margin-right: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header__link, .footer__link {
	color: white;
}

.header__link:hover, .footer__link:hover {
	color: rgba(227, 184, 115, 1);
}

.header__button, .footer__button {
	max-height: 37px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}

.button {
    background: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
}

.hero {
    width: 100%;
    max-height: 707px;
    background-image: url("images/heroback.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.section {
	background-size: cover;
    background-position: center;
    position: relative;
}

.section__cover {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.hero__cover {
	content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.hero__container {
    padding: 194px 0px 134px 0px;
}

.hero__body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 676px;
    margin-left: 42px;
}

.hero__title {
    margin-top: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    line-height: 53px;
}

.title,
.subtitle {
    font-family: "Yeseva One", Arial;
    text-transform: uppercase;
}

.orange-text {
    color: rgba(227, 184, 115, 1);
}

.hero__text {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    line-height: 36px;
}

.hero__btnbox {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.hero__button {
    width: 207px;
    height: 51px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}

.button-type2 {
    background-color: rgba(227, 184, 115, 0);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.second-section {
    background-color: rgba(19, 19, 19, 1);
}

.second-section__container {
    display: flex;
    flex-direction: column;
    padding: 107px 0px 450px 42px;
    margin-bottom: -300px;
}

.second-section__block {
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

.second-section__txt-block {
    display: flex;
    flex-direction: column;
    max-height: 482px;
    gap: 58px;
}

.second-section__title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.second-section__text {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 27px;
    margin-top: 34px;
    max-width: 442px;
}

.second-section__properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 34px;
}

.second-section__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.second-section__item h3 {
    color: rgba(227, 184, 115, 1);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "Yeseva One";
}

.second-section__item span {
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    line-height: 21px;
}

.second-section__img-block {
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-height: 550px;
}

.second-section__img-mobile {
	display: none;
	position: relative;
	width: 340px;
}

.second-section__slide-left {
	content: "";
    left: 0;
    top: 35%;
    position: absolute;
    z-index: 0;
	display: none;
}

.second-section__slide-right {
	content: "";
    right: 4%;
    top: 41.2%;
    position: absolute;
    z-index: 0;
	display: none;
}

.second-section__list {
    display: flex;
    gap: 60px;
}

.second-section__list-item {
    font-family: "Yeseva One";
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.active-item {
	color: rgba(227, 184, 115, 1);
	text-decoration-line: underline;
}

.rotate {
	transform: rotate(180deg);
}

.second-section__svg {
	display: flex;
	justify-content: space-between;
	max-width: 205.68px;
}

.third-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 817px;
}

.third-section__subtitle {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 28px;
}

.third-section__svg {
    margin-top: 12px;
}

.third-section__player-container {
    margin-top: 32px;
    position: relative;
    max-width: 817px;
    max-height: 434px;
    display: grid;
    place-items: center;
}

.third-section__player-cover {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.third-section__player-svg {
	content: "";
	position: absolute;
	z-index: 0;
	cursor: pointer;
}

.third-section__text {
    margin-top: 34.5px;
    max-width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}

.third-section__form-block {
    display: flex;
    gap: 50px;
    max-height: 51px;
    margin-top: 91.5px;
}

.third-section__form {
    display: flex;
    flex-direction: column;
}

.third-section__form-title {
    color: rgba(54, 54, 54, 0.5);
}

.third-section__input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.third-section__input::placeholder {
    color: rgba(0, 0, 0, 1);
}

.third-section__button {
    width: 200px;
}

.third-section__button-mobile {
    display: none;
}

.third-section__checkbox-container,
.checkbox-container {
    text-align: center;
    margin-top: 35px;
}

.third-section__checkbox-body,
.checkbox-body {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #e3b873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: 0.2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.fourth-section__section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.fourth-section__subtitle {
    font-size: 20px;
    line-height: 28px;
}

.fourth-section__svg {
    display: flex;
    gap: 9px;
    margin-top: 12px;
}

.fourth-section__cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.fourth-section__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth-section__card-wrapper {
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
}

.fourth-section__card-body {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    max-width: 330px;
    max-height: 286px;
    padding: 25px 90px 50px 30px;
}

.fourth-section__card-subtitle {
    font-size: 18px;
    line-height: 25px;
    color: rgba(54, 54, 54, 1);
    text-transform: none;
}

.fourth-section__card-list {
    margin-left: 15px;
}

.fourth-section__card-item {
    list-style: disc;
    color: rgba(149, 149, 149, 1);
    font-size: 13px;
    line-height: 27px;
    white-space: nowrap;
}

.fourth-section__price {
    background: rgba(227, 184, 115, 1);
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    color: rgba(255, 255, 255, 1);
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    max-width: 228px;
    max-height: 54px;
    padding: 17px 16px;
    white-space: nowrap;
    margin-top: -28px;
}

.fourth-section__second-box {
    width: 100%;
    display: flex;
    margin-top: 230px;
    justify-content: space-between;
}

.fourth-section__background {
    position: absolute;
    z-index: -1;
    left: -400px;
    bottom: 90px;
}

.fourth-section__list {
    display: flex;
    flex-direction: column;
    height: 645px;
    gap: 102px;
    margin-left: 146px;
}

.fourth-section__item {
    display: flex;
    align-items: center;
}

.fourth-section__number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(227, 184, 115, 1);
    border: 8px solid #ffffff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    width: 41.76px;
    height: 41.76px;
    font-family: "Yeseva One";
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    padding-top: 5px;
}

.fourth-section__item-text {
    font-size: 14px;
    line-height: 19px;
    color: rgba(54, 54, 54, 1);
    margin-left: 17px;
}

.fourth-section__form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 506px;
    height: 509px;
    background: rgba(19, 19, 19, 1);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    box-sizing: content-box;
}

.fourth-section__form-text {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 297px;
    margin-top: 28px;
}

.fourth-section__form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    width: 408px;
    height: 244px;
    gap: 48px;
}

.fourth-section__form {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    max-width: 408px;
    gap: 7px;
}

.fourth-section__form-title {
    color: rgba(255, 255, 255, 0.5);
}

.fourth-section__input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.fourth-section__checkbox-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 50px;
    align-self: flex-start;
}

.fourth-section__form-mail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fourth-section__checkbox-body {
    color: white;
}

.fourth-section__form-button {
    margin-top: 39px;
    margin-right: 50px;
    width: 213px;
    height: 51px;
    align-self: flex-end;
}

.fourth-section__pig-container {
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: 441px;
    height: 72px;
    margin-top: 50px;
}

.fourth-section__bottom-text {
    color: rgba(227, 184, 115, 1);
    font-size: 18px;
    line-height: 26px;
}

.fifth-section {
    width: 100%;
    height: 864px;
    background-image: url("images/fifth-back.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.fifth-section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 864px;
    margin-top: 242px;
}

.fifth-section__title {
    font-size: 27px;
    line-height: 37px;
    margin-top: 70px;
}

.fifth-section__img-mobile {
	display: none;
	position: relative;
}

.fifth-section__slide-left {
	content: "";
	left: 0;
	top: 490%;
    position: absolute;
    z-index: 0;
    display: none;
}

.fifth-section__slide-right {
	content: "";
	right: 4.5%;
	top: 575%;
    position: absolute;
    z-index: 0;
    display: none;
}

.fifth-section__list {
    display: flex;
    flex-direction: column;
    max-width: 299px;
    max-height: 516px;
    gap: 10px;
    margin-top: 47px;
}

.fifth-section__link {
    font-size: 20px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);
}

.fifth-section__link:hover {
    color: rgba(227, 184, 115, 1);
    border-bottom: solid 1px rgba(227, 184, 115, 1);
}

.fifth-section__img-blocks {
    display: flex;
    gap: 43px;
}

.fifth-section__img-block {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.fifth-section__img-block_first {
    margin-top: -40px;
}

.fifth-section__img-block_second {
    margin-top: -112px;
}

.sixth-section {
    background-image: url("images/sixth-back.jpg");
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-color: rgba(255, 255, 255, 1);
}

.sixth-section__container {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.sixth-section__subtitle {
    text-align: center;
}

.sixth-section__svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.sixth-section__text {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: rgba(54, 54, 54, 1);
    margin-top: 25px;
}

.sixth-section__card-list {
    display: flex;
    gap: 54px;
    margin-top: 35px;
    margin-bottom: 382px;
}

.sixth-section__card-body {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 24px 32px 90px 20px;
    max-width: 376px;
    max-height: 428px;
}

.sixth-section__card-id {
    display: flex;
    gap: 23px;
}

.sixth-section__card-photo {
    border-radius: 50px;
}

.sixth-section__card-name {
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 23px;
    color: rgba(24, 24, 24, 1);
    padding-top: 15px;
}

.sixth-section__card-text {
    font-size: 13px;
    line-height: 180%;
    color: rgba(149, 149, 149, 1);
    margin-top: 22px;
}

.sixth-section__svg-container {
    width: 293.75px;
    height: 54.03px;
    margin-left: -34px;
    margin-top: 35px;
}

.seventh-section {
    position: relative;
    background-image: url("images/seventh-back.jpg");
    background-size: cover;
    padding-bottom: 50px;
}

.seventh-section__section-cover {
    background-color: rgba(24, 24, 24, 0.95);
}

.seventh-section__container {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.seventh-section__form-body {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    max-width: 883px;
    max-height: 445.32px;
    background: rgba(24, 24, 24, 1);
    padding: 34px 0px 34px 0px;
    margin-top: -220px;
}

.seventh-section__form-text {
    font-family: "Yeseva One";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.seventh-section__form-wrapper {
    max-width: 520px;
    width: 100%;
}

.seventh-section__form-container {
    display: flex;
    justify-content: space-between;
    max-width: 520px;
    width: 100%;
}

.seventh-section__form {
    display: flex;
    flex-direction: column;
    max-width: 231px;
}

.seventh-section__form-optional {
    width: 100%;
    max-width: 520px;
    margin-top: 45px;
}

.seventh-section__form-title {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.seventh-section__form-input {
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.seventh-section__form-input::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 1);
}

.seventh-section__checkbox-text {
    color: rgba(255, 255, 255, 1);
}

.seventh-section__subtitle {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: rgba(227, 184, 115, 1);
    max-width: 589px;
    margin-top: 50px;
}

.seventh-section_svg-group {
    margin-top: 25px;
}

.seventh-section__map-container {
    max-width: 925px;
    max-height: 465px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.seventh-section__map-container-phone-inline {
    display: none;
}

.section__svg {
    display: flex;
    gap: 9px;
}

.fourth-section__input,
.seventh-section__form-input {
    color: rgba(255, 255, 255, 1);
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

label {
    cursor: pointer;
}

@media (max-width: 1300px){
	.header__box, .footer__box {
        height: 57px;
    }

    .second-section {
        height: 1300px;
        margin-bottom: -300px;
    }

    .second-section__img-block, .second-section__svg {
        display: none;
    }

    .second-section__img-mobile {
    	display: inline;
    	margin-left: 10%;
    }

    .second-section__slide-left, .second-section__slide-right {
    	display: inline;
    }

    .header__nav,
    .header__button, .footer__nav, .footer__button {
        display: none;
    }

    .hero__body {
        margin-left: 25%;
    }

    .second-section__block {
        justify-content: center;
    }

    .second-section__title {
        text-align: center;
    }

    .fourth-section__cards {
        flex-direction: column;
    }

    .fourth-section__card-wrapper {
        margin-left: 0;
    }

    .fourth-section__second-box,
    .fourth-section__pig-container {
        display: none;
    }

    .fifth-section__img-blocks {
        margin-top: 110px;
        align-self: center;
    }

    .sixth-section__card-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .hero__container {
        padding: 85px 18px 61px 18px;
        max-width: 340px;
    }

    .hero__body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .hero__container,
    .hero__body {
        max-height: 476px;
    }

    .hero__title {
        font-size: 23px;
        line-height: 31px;
    }

    .hero__text {
        font-size: 14px;
        line-height: 19px;
        margin-top: 16px;
    }

    .hero__btnbox {
        flex-direction: column;
        gap: 25px;
        margin-top: 32px;
    }

    .hero__button {
        width: 100%;
    }

    .second-section {
        height: 1600px;
    }

    .second-section__container {
        padding: 36px 17px 1100px 17px;
    }

    .third-section__container {
        margin-top: -810px;
    }

    .third-section__text {
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        max-width: 340px;
    }

    .third-section__form-block {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        max-height: 850px;
        max-width: 340px;
        width: 100%;
    }

    .third-section__player-container {
        max-width: 340px;
        max-height: 207px;
    }

    .third-section__form-title {
        color: rgba(255, 255, 255, 0.5);
    }

    .third-section__input {
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    }

    .third-section__input::placeholder {
        color: rgba(255, 255, 255, 1);
    }

    .third-section__button {
        width: 100%;
        max-width: 340px;
    }

    .third-section__checkbox-text {
        color: rgba(255, 255, 255, 1);
    }

    .third-section__button {
        display: none;
    }

    .third-section__button-mobile {
        display: inline;
        margin-top: 60px;
    }

    .fifth-section {
        background-image: none;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1;
        height: 195px;
    }

    .fifth-section__container {
        margin-top: 55px;
    }

    .fifth-section__cover {
        display: none;
    }

    .fifth-section__img-blocks,
    .fifth-section__list {
        display: none;
    }

    .fifth-section__img-mobile {
    	display: inline;
    	margin-left: 26%;
    }

    .fifth-section__slide-left, .fifth-section__slide-right {
    	display: inline;
    }

    .fifth-section__body {
        width: 100%;
        margin-bottom: -120px;
    }

    .fifth-section__title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .sixth-section {
        display: none;
    }

    .seventh-section__form-body {
        margin-top: 120px;
        max-height: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .seventh-section__form-container {
        width: 100%;
        flex-direction: column;
        gap: 60px;
    }

    .seventh-section__form-optional {
        margin-top: 60px;
    }

    .seventh-section__form {
        width: 100%;
        max-width: none;
    }

    .seventh-section__form-name {
        width: 100%;
    }

    .seventh-section__form-button {
        width: 100%;
        max-width: 340px;
    }

    .seventh-section__map-container-phone-inline {
        display: inline;
    }

    .seventh-section__map-container-phone-none {
        display: none;
    }
}
